{{define "sidebar"}}
    <nav class="page-nav">
        <ul>
            <li><a href='/'>Home</a></li>
            <li><a href='/terms'>Beta agreement</a></li>
            <li><a href='/docs'>What to test</a></li>
            <li><a href='/issues'>Submit issue</a></li>
            <li><a href='/contact'>Contact us</a></li>
        </ul>
    </nav>
{{end}}
