{{template "header" .}}

{{define "title"}}Login{{end}}

{{if .IsAuthenticated}}
 {{template "sidebar" .}}
            <div class="col-md-10 col-sm-8 main-content" >
                <!--Main content code to be written here -->
                 <h2> Contact Us</h2>
            </div>
        </div>
    
    
   
     
{{else}}
<h2> Must Authenticate First! </h2>
{{end}}

{{template "footer"}}
