{{template "header" .}}

{{define "title"}}Submit issue{{end}}

<div class="container">
    {{if .IsAuthenticated}}
        {{template "sidebar" .}}
        <div class="col-md-10 col-sm-8 main-content" >
            <!--Main content code to be written here -->
            <script type="text/javascript" src="https://form.jotform.com/jsform/222064000723035"></script>
        </div>
    {{else}}
        {{template "unauthenticated" .}}
    {{end}}
</div>

{{template "footer"}}
