{{template "header" .}}

{{define "title"}}Login{{end}}

{{if .IsAuthenticated}}
<p>

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdRZUMhOJbC-kwd1lFR0-CmniiViEB6LaV4fmK33wUqLAFbdw/viewform?embedded=true" width="640" height="883" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
   
     
{{else}}
<h2> Must Authenticate First! </h2>
{{end}}

{{template "footer"}}
