{{template "header" .}}

{{define "title"}}Login{{end}}

{{if .IsAuthenticated}}
<p>
<script type="text/javascript" src="https://form.jotform.com/jsform/222075149814052"></script>
     
{{else}}
<h2> Must Authenticate First! </h2>
{{end}}

{{template "footer"}}
